#purchase-container .ant-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#purchase-container .shipment .ant-form-item {
  width: 45%;
}

.ant-btn-primary.next-btn,
.ant-btn-primary.next-btn:active,
.ant-btn-primary.next-btn:hover,
.ant-btn-primary.next-btn:focus {
  float: right;
  margin-top: 15px;
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}
