.purchase-details {
  background-color: white;
  height: 100%;
  margin: 0 20px;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.purchase-details .right {
  float: right;
}
