.number-selector {
  text-align: center;
}

.number-selector .number {
  display: inline-block;
  margin: 0 0.38198205906665em;
  padding: 4px 0;
  width: 2.75em;
  background: 100% no-repeat #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.236082854800154em;
  outline: transparent;
  font-weight: 700;
  text-align: center;
}

.product-btn.selector {
  width: initial !important;
}
