.navbar-menu {
  width: 190px;
  float: right;
  text-align: center;
}

#login span:first-of-type {
  padding-left: 3px;
  font-size: 13px;
  line-height: 18px;
  vertical-align: text-bottom;
}

.navbar-menu .anticon {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.25);
}

.ant-badge-count {
  left: 5px;
  top: -6px;
  font-size: 9px;
  width: auto;
  height: 13px;
  line-height: 13px;
  min-width: auto;
  border-radius: 29px;
  padding-left: 4.05px;
  background-color: #f16a23;
}

@media (max-width: 767px) {
  .navbar-menu {
    float: none;
    width: auto;
  }
  #login-text {
    display: none;
  }
}
