.product-card {
  min-width: 250px;
  width: 275px;
  margin: 10px 5px;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-card img,
.product-img {
  width: auto;
  margin: 0 auto;
}

.product-card img {
  margin-top: 25px;
  height: 140px;
}

.product-img {
  height: 50px;
}

.product-name {
  color: #222;
  font-size: 15px;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  line-height: 45px;
}

.product-item .number-selector {
  margin-top: -5px;
  margin-bottom: 13px;
}

.product-card .ant-card-body {
  padding: 5px 24px;
}

.remove-btn {
  position: absolute;
  right: 0;
}

.toCart {
  color: #f16a23;
  font-weight: 400;
}
