.product-image {
  height: 50px;
  width: auto;
}

.product-name {
  line-height: 25px;
  text-align: left;
}

.title-discount {
  margin-top: 30px;
}

.next-btn.product-list {
  margin-top: 20px !important;
}
