.footer {
  background-color: #fff;
  width: 100%;
  max-width: 100% !important;
  bottom: 0;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 10px 0;
  position: fixed;
  text-align: center;
}

.footer span {
  color: #666;
}
