body {
  margin: 0;
  padding: 0;
  height: auto !important;
  background-color: #f8f8f8 !important;
}

.ant-btn-primary,
.ant-btn-primary:active,
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: #fa6400 !important;
  border-color: #fa6400 !important;
}

.main-container {
  max-width: 1280px;
  margin: 30px auto 50px;
}

a {
  color: #fa6400 !important;
}
