:root {
  --primary: #fa6400;
}

body {
  margin: 0;
  padding: 0;
  height: auto !important;
  background-color: #f8f8f8 !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: white !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.ant-btn-primary:active {
  background-color: #e65d02 !important;
  border-color: #e65d02 !important;
}

.main-container {
  max-width: 1280px;
  margin: 30px auto 50px;
}

a:hover,
a:active,
a:focus {
  color: var(--primary) !important;
}

.ant-btn-primary a:hover,
.ant-btn-primary a:active,
.ant-btn-primary a:focus {
  color: white !important;
}

.ant-input:hover,
.ant-input:active,
.ant-input:focus {
  border-color: var(--primary);
}
.ant-input-search::selection {
  background-color: var(--primary);
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: var(--primary);
}
