.header {
    background: #fff;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
}

#navbar {
    border-bottom: 1px solid #eee;
}

#navbar .btn {
    margin-left: 10px;
    margin-top: 15px;
    float: right;
    padding: 3px;
    width: 35px;
}

#navbar img {
    width: 135px;
}

#navbar .hide {
    display: none;
}
