#login-card {
  text-align: left;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item-label {
  line-height: inherit;
}

.ant-form-item-label label {
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #9a9a9a;
}
