.price,
.price-decimal {
  vertical-align: top;
  font-size: 1rem;
  line-height: 2.2rem;
}

.price-section,
.price-section-left {
  float: right;
  display: inline-block;
  color: #222;
  font-weight: 700;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.price-section-left {
  float: none;
}

.price-value {
  font-size: 1.875rem;
}

.old-price {
  display: inline-block;
  text-decoration: line-through;
  color: #666;
  font-size: 0.875rem;
  font-weight: 400;
  margin-right: 0.236082854800154em;
  padding-left: 7px;
  vertical-align: top;
  line-height: 2.2rem;
}
